:root {
    --color-main-primary: #f76c6c;
    --color-main-bg-dark: #333;
    --color-main-bg-light: #555;
}
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--color-main-bg-dark);
}
/* HEADER */
header {
    background-color: var(--color-main-primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    z-index: 2;
    padding: 0.5rem 1rem;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

header img {
    height: 2.5rem;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
    height: 100%;
}

h2 {
    font-size: 0.8rem;
    font-style: italic;
    align-self: flex-end;
}
/* MAIN */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    text-align: center;
}
#infos {
    background-color: var(--color-main-bg-light);
    width: 100%;
    padding: 1rem;
}
#options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

#options select {
    width: 45%;
}

main article {
    border: 1px solid var(--color-main-primary);
}

/* FOOTER */
footer {
    background-color: var(--color-main-primary);
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
    justify-self: flex-end;
}

footer a, footer a:visited {
    color: white;
}